
body{
    background-color: #3a9188;
}

.h1Title{
    text-align: center;
    color: #044a42;
}

input{
    color: #044a42;
    border: .25rem solid #b8e1dd;
    background-color: #3a9188;
    border-radius: .7rem;
}

input::placeholder{
    color: #044a42;
}

.allInputnButton{
    margin-top: 10rem;
    margin-bottom: 30rem;
}

.divTopInput{
    text-align: center;
}

.topInput{
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
}

.Base{
    margin-right: 2rem;
}

.Rate{
    margin-left: 2rem;
}

.Contribution{
    margin-right: 2rem;
}

.NumTrades{
    margin-left: 2rem;
}

.divBottomInput{
    text-align: center;
}

.bottomInput{
    font-size: 30px;
    text-align: center;
    color: #044a42;
}

.divButCalc{
    text-align: center;
    margin-top: 1.5rem;
}

.butCalc{
    background-color: #3a9188;
    color: #044a42;
    font-size: 30px;
    border: .35rem solid #b8e1dd;
    border-radius: 1rem;
    cursor: pointer;
}

.divFoot{
    text-align: center;
    color: #044a42;
    font-size: 25px;
}

.foot{

}